<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="chitiet.html" method="post">
    <table border="1">
        <tr>
            <th>Product Name</th>
            <th>Information</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        <tr>
            <th th:text="${product.name}">
            <th th:text="${product.information}">
            <th th:text="${product.price}">
        </th>

    </table>

    <input type="submit" value="Mua ngay">
</form>

</body>
</html>